<h1 mat-dialog-title>Edit book</h1>

<!-- Use bookForm.getRawValue to get disabled values too -->
<div mat-dialog-content>
  <form
    [formGroup]="bookForm"
    (ngSubmit)="data.saved.emit(bookForm.getRawValue())"
  >
    <mat-dialog-content>
      <mat-form-field>
        <input
          matInput
          placeholder="Id"
          type="text"
          required
          formControlName="id"
          class="form-control"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Title"
          type="text"
          formControlName="title"
          class="form-control"
          required
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Year published"
          type="number"
          formControlName="yearPublished"
          class="form-control"
          required
        />
      </mat-form-field>
      <div formArrayName="authors">
        <h3>Authors</h3>
        <div *ngFor="let author of authors.controls; let i = index">
          <div [formGroupName]="i">
            <mat-form-field>
              <input
                id="author-{{ i }}"
                matInput
                placeholder="Author first names"
                type="text"
                formControlName="firstNames"
                required
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Author last name"
                type="text"
                formControlName="lastName"
                required
              />
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-dialog-content>

    <mat-dialog-actions>
      <button
        [disabled]="!bookForm.valid"
        type="submit"
        color="primary"
        mat-button
        [mat-dialog-close]="true"
      >
        Submit
      </button>
      <button type="button" mat-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
  </form>

  <pre>{{ data.book | json }}</pre>
</div>
