<mat-card>
  <mat-card-header>
    <mat-card-title>
      <span *ngIf="currentBook; else noSelection">
        {{ currentBook.title }}</span
      >
      <ng-template #noSelection>Select a book</ng-template>
    </mat-card-title>
    <!-- TODO: show the edit button only if book is selected -->
    <button mat-icon-button color="info" (click)="editBook(currentBook)">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card-header>

  <!-- TODO: how to make these not look like clickable links? -->
  <!-- it has something to do with being inside mat-card -->
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let field of fields">
        {{ field.title }}:
        {{
          field.renderer
            ? field.renderer(get(currentBook, field.key))
            : get(currentBook, field.key)
        }}
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
